.DS_Store
Thumbs.db
desktop.ini

.vscode/
*.suo
*.user
*.userprefs

PluginSource/build/
PluginSource/CMakeUserPresets.json

UnityProject/Library/
UnityProject/Temp/
UnityProject/Logs/
UnityProject/UserSettings/
UnityProject/Build/
UnityProject/Builds/
UnityProject/MemoryCaptures/
UnityProject/Profiling/
UnityProject/CrashReports/

UnityProject/*.sln
UnityProject/*.csproj
UnityProject/*.unityproj
UnityProject/.vs/
